datasets==2.19.1
fastapi==0.111.0
huggingface_hub==0.20.1
kenlm==0.2.0
keyboard==0.13.5
librosa==0.10.2
matplotlib==3.9.0
numpy==1.24.3
pandas==2.2.2
Pillow==10.3.0
pyctcdecode==0.1.0
pydub==0.25.1
sounddevice==0.4.6
soundfile==0.12.1
tensorflow==2.16.1
torch==2.0.1
torchaudio==2.3.0
transformers==4.40.1
uvicorn==0.29.0
